/* Google Font Styles */
.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
  }
  
body{
    margin: 0;
    background-color: rgb(190, 158, 114); 
    color: #fff;
}


/* styling of the navigation bars */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(190, 158, 114);
}
li{
    float: left;
    border-right: 1px solid #fff;
}
ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 12px 14px;
    font-size: larger;
}

ul li a:hover{
    background-color: #fff;
    color: rgb(190, 158, 114);;
  
    
}
.active{
    background-color: #2e2d2d;
}

/*  Unique to the topmost navigation bar */
#topmost{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px double #fff;
}
@media screen and (max-width: 600px) { 
    ul li {
        float: none;
    }
  }
/* End of Styling Navigation bar */

 /* The video overlayed with Text*/
 .jumbotron-container{
    position: relative;
    width: 100%;
 }

 video{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
 }

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.jumbotron-container:hover video {
    opacity: 0.3;
  }
  
  .jumbotron-container:hover .middle {
    opacity: 1;
  }
  .jumbotron-words {
    background-color: rgba(190, 158, 114, 0.3);
    color: white;
    font-size: 40px;
    padding: 16px 32px;
    z-index: 1;
  }
  /* End of Video and the Overlaid Text */

  img{
    filter: grayscale(70%);
    border-radius: 8px;
    width: 100%;
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    
    
  }
  
h2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    transition: transform 2s;
}
h2:hover{
    transform: rotate(3deg);
}

p{
    font-size: 1.5em;
}

.row {
    display: flex;
    
    justify-content: center;
  }
  
  .column {
    flex: 50%;
    padding: 3px;
  }
  .column #adeyomola{
    width: 50%;
    border-radius:50px 200px;
    display: block;
    transition: transform 3s;
  }
  #adeyomola:hover{
    transform: rotate(20deg);
  }
  /*
  #work > .row{
    justify-content: space-around;
  }
  #work > .row #one,
  #work > .row #two{
    padding: 5px;
    border-radius: 90%;
  }*/

  label,input,textarea{
    display: block;
    width: 100%;
    margin: 2px 5px 6px 2px ;
  }
 
  form{
    padding: 15px;
  }
  /*Contact form styling*/
    .form-container{
      width: 41vw;
    }
    .Pop_Up_Button{
      position: sticky;
      top: 50%;
      bottom: 1.75vw;
      right: 1.75vw;
      width: 40vw;
      -webkit-animation: movePopup 5s;
      animation: movePopup 5s;
    }

    @keyframes movePopup {
      from {right: -40vw;}
      to {right: 1.75vw;}
    }

    .form-popup{
      z-index: 8;
      display: none;
      position: fixed;
      bottom: 0.5vw;
      right: 0.5vw;
    }
  /*End of Contact form styling*/

  footer,footer p{
    text-align: center;
  }

  label {
    font-size: x-large;
    font-style: normal;
  }
  input{
    line-height: 2em;
  }

  .logo{
    width: 25%;
    height: 25%;
    display: inline;
    border-radius: 100%;
    transition: transform 3s;
  }
  .logo:hover{
    width: 25%;
    height: 25%;
    transform: rotate(15deg);
  }
  
  section{
    width: 100%;
    margin-top: 40px;
    height: auto;
  }

  input:hover, textarea:hover {
    box-shadow: 0 0 5px #00004d inset
  }

   input[type="submit"]{
    transition: transform 2s;
   }
  input[type="submit"]:hover{
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.01);
    background-color: antiquewhite;
  }
  /* Slideshow styling*/
  #Slideshow_Background{
    background: rgba(255, 255, 255, 0.35);
  }
  #Slideshow {
    position: relative;
    max-width: 1000px;
    margin: auto;
}
  .mySlides{
    display: none;
  }
  #Slideshow_Container{
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
  }
  #Slideshow_Container a{
    text-decoration: none;
  }
  .Slideshow_Images{
    vertical-align: middle;
    height: auto;
    box-shadow: 0 5px 10px 12px rgba(0, 0, 0, 0.75);
    width: 100%;
  }

  .Previous, .Next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    user-select: none;
    transition: 0.6s ease;
  }
  .Next{
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .Previous:hover, .Next:hover{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
  }

  /* Slideshow text */
.text {
  color: white; 
  padding: 1vw;
  position: absolute; /* This ensures the text is positioned within the image */
  bottom: 0; /* This property sets the text at the bottom of the image */
  width: 100%; /* The element covers the full width of the image */
  text-align: center; /* The text is center aligned within the image */
  font-family: 'Perpetua', 'Rockwell Extra Bold';
  letter-spacing: .1vw; /* This gives slight spacing between the letters */
  font-size: 1.5vw; /* Font size is relative to the size of the viewport width */
  background-color: rgba(0, 0, 0, 0.75); /* Gives a slightly transparent black background */
  font-weight: bold;
  border-radius: 0px 0px 7px 7px; /* Gives the text background rounded corners on the bottom left and right corners */
}

/* Styling of the dots under the slideshow */
.dot {
  cursor: pointer; /* The cursor changes to pointer when hovered over the dots */
  height: 1vw; /* The dots are sized relative to the viewport width */
  width: 1vw;
  margin: .25vw; /* adds additional spacing between the dots */ 
  background-color: white; /* Makes the dots white */
  border-radius: 100%; /* Makes the dots circles by rounding each corner */
  display: inline-block; /* Allows the dots to sit next to eachother rather than on a new line */
  transition: background-color 0.6s ease; /* When clicked on the dots transition to a different color when clicked or hovered over (the affect is defined below) */
  z-index: 1; /* This ensures the dots will be displayed above any other elements */
}
#dot-container{
  text-align: center;
}
.white-text{
  color: #fff;
  padding-top: 10vh;
}
/* Hover effect for slideshow dots */
.active{
  background-color: black; /* Sets the color of the dots when active or hovered over */
}
.dot:hover{
  background-color: #9bc7c7;
} 

/* Fading animation for slideshow */
.fade {
  -webkit-animation-name: fade; /* Same as above for Safari 4.0-8.0 */
  -webkit-animation-duration: 1.5s;
  animation-name: fade; /* Fade animation is defined below */
  animation-duration: 1.5s; /* The animation lasts 1.5 seconds */
  
}


@-webkit-keyframes fade {
  from {opacity: .4;} /* Image starts transparent */
  to {opacity: 1;} /* Image ends opaque */
}

@keyframes fade {
  from {opacity: .4;} /* Image starts transparent */
  to {opacity: 1;} /* Image ends opaque */
}
/*End Slideshow Styling */